@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  
  body {
    touch-action: pan-x pan-y;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
  }
  
  html {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  
  #root {
    width: 100vw;
    min-height: 100vh;
  }
}
